/*
 * Reset
 */

body,
html,
ul,
li {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	/*调整rem与px换算关系，使1rem=10px*/
}

body {
	font-family: arial, "微软雅黑";
	color: #454545;
}

a {
	text-decoration: none;
}


/*
 * 头部样式
 */

header {
	height: 7rem;
	background: #87CEFA;
}

.main-nav {
	width: 96rem;
	margin: 0 auto;
}

.logo img {
	height: 4rem;
	float: left;
	padding: 1.5rem 0;
}

.nav-list {
	line-height: 7rem;
	float: right;
}

.nav-list li {
	display: inline-block;
}


/*  1.增加用户可触控区域 */

.nav-list a {
	display: block;
	/*1*/
	font-size: 1.6rem;
	height: 100%;
	/*1*/
	padding: 0 0.5rem 0 2rem;
	color: #FFFFFF;
}


/* 2.文字渐出*/

.nav-list a:hover {
	-webkit-transition: 0.3s all;
	/*2*/
	transition: 0.3s all;
	/*2*/
	color: #696969
}


/*为导航条加一点响应式样式*/

@media only screen and (max-width:768px) {
	.main-nav {
		width: 68rem;
	}
}

@media only screen and (min-width:768px) and (max-width:1024px) {
	.main-nav {
		width: 76rem;
	}
}


/*
 * 通用文章样式
 */

.content {
	padding: 2rem;
	background: #F0F0F0;
}

article,
aside {
	width: 96rem;
	text-indent: 2em;
	line-height: 2;
	font-size: 1.6rem;
	margin: 0 auto 5rem;
	padding: 2rem;
	background: #FFFFFF;
	box-shadow: 3px 3px 3px #C0C0C0;
}

article h4,
aside h4 {
	color: #696969;
}

article span,
aside span {
	margin-right: 1rem;
	color: #C4C4C4;
}


/*为文章显示区域加一点响应式样式*/

@media only screen and (max-width:1024px) {
	article,
	aside {
		width: 95%;
	}
}


/*正文样式*/

article span a {
	color: #696969;
}

article img {
	max-width: 100%;
	/*浏览器视口缩小时，让图片也会视口随着缩小*/
}


/*
 * 表格样式
 */

table {
	border: 1px solid #ccc;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}

table thead {
	background-color: #333333;
	color: white;
}

table td {
	border: 1px solid #ccc;
}

table td,
table th {
	padding: 3px;
}

table tfoot {
	background-color: #cccccc;
}


/*
 *  图片列表
 *  
 */

figure {
	text-align: center;
	width: 230px;
	height: 230px;
	border: 1px solid #C0C0C0;
	padding: 1rem;
}


/*
 * 侧边栏样式
 */

aside h2 {
	border-left: 5px solid #C4C4C4;
}

aside input[type='submit'] {
	font-weight: bold;
	font-size: 1.6rem;
	width: 100%;
	background: skyblue;
	color: #FFFFFF;
	height: 4rem;
	border-radius: 1.5rem;
	border: none;
	outline: none;
	/*去掉谷歌浏览器点击时的蓝色边框*/
}

aside textarea {
	max-width: 40rem;
}

aside form p label {
	display: inline-block;
	width: 35%;
	padding-right: 1%;
	text-align: right;
	vertical-align: top;
}